header {
    background-color: #ffab00;
    height: 58px;
    width: 100%;
    display: flex;
}
.tech {
    display: inline;
    font-family: 'Lato', sans-serif;
    font-size: 21px;
    color: #064159;
    letter-spacing: 2.0px;
    line-height: 2.5;
    margin-left: 15px;
}
.lanc {
    display: inline;
    font-family: 'Lato', sans-serif;
    font-size: 21px;
    color: #064159;
    letter-spacing: 2.0px;
    font-weight: 900;
    line-height: 2.5;
}