/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

header {
  background-color: #ffab00;
  height: 58px;
  width: 100%;
  display: flex; }

.tech {
  display: inline;
  font-family: 'Lato', sans-serif;
  font-size: 21px;
  color: #064159;
  letter-spacing: 2.0px;
  line-height: 2.5;
  margin-left: 15px; }

.lanc {
  display: inline;
  font-family: 'Lato', sans-serif;
  font-size: 21px;
  color: #064159;
  letter-spacing: 2.0px;
  font-weight: 900;
  line-height: 2.5; }

.hero {
  background: url(../images/home-page.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  width: 100%;
  height: 280px; }

.hero-heading {
  font-family: 'Lato';
  font-size: 36px;
  color: #efe9d8;
  text-align: left;
  padding: 1.2em;
  line-height: 1.0; }

.foot {
  width: 100%;
  height: 39px;
  font-family: 'Lato', serif, sans-serif, Times;
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: 0.8px;
  text-align: center;
  color: #6f8998; }

.who {
  padding: 22px 0 10px 0px; }

body {
  width: 100%; }

.under-hero {
  background-color: #ffc400;
  width: 100%;
  height: 100%; }

.line {
  width: 95%;
  height: 2px;
  background-color: #ee3e28;
  margin: 0 auto; }

.statement, .meetup-type {
  color: #4e1c07;
  font-size: 20px;
  padding: 25px 25px 15px 30px;
  line-height: 1.8;
  text-align: left;
  font-weight: bold;
  font-family: 'Droid Serif', serif, Times; }

.info {
  color: #021d2c;
  font-size: 18px;
  line-height: 1.5;
  padding: 1.5em;
  font-family: 'Droid Serif', serif, Times; }

.meetup {
  color: #eb503c;
  padding: 30px 0 15px 25px;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Lato', Arial, sans-serif, serif, Times;
  line-height: 1.5;
  letter-spacing: 1.5px;
  text-align: left; }

.meetup-type {
  line-height: 1.5;
  padding: 10px 0 80px 26px; }

.uc-event {
  color: #4c1a14;
  font-size: 20px;
  font-family: 'Droid Serif', serif, Times;
  letter-spacing: 1px;
  padding: 0 0 0 25px;
  text-overflow: auto;
  line-height: 1.5;
  font-weight: bold; }

.date {
  font-family: 'Lato', Arial, serif, Times;
  font-size: 18px;
  color: #021d2c;
  font-weight: bold;
  line-height: 32px;
  letter-spacing: .9;
  text-align: left;
  padding: 0 0 0 26px; }

.location {
  font-family: 'Lato', Arial, serif, Times;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: .8;
  text-align: left;
  color: #021d2c;
  padding: 0 0 0 26px; }

.core {
  padding: 50px 0px 80px 30px; }
  .core h2 {
    font-size: 21px;
    line-height: 28px;
    font-weight: bold;
    font-family: 'Droid Serif', serif, sans-serif;
    color: #4e1c07; }
  .core h3 {
    font-family: 'Droid Serif', serif, sans-serif;
    font-style: italic;
    color: #021d2c;
    font-weight: bold;
    line-height: 2.0;
    font-size: 18px; }
  .core p {
    color: #021d2c;
    font-size: 16px;
    padding: 0 0 10px 0;
    font-weight: bold;
    font-family: 'Droid Serif', serif, Times; }

.ethics {
  height: 100%;
  width: 100%;
  padding-top: 50px; }
  .ethics h2 {
    font-size: 24px;
    line-height: 28px;
    font-weight: bold;
    font-family: 'Droid Serif', serif, sans-serif;
    color: #4e1c07;
    padding: 0 0 30px 30px; }
  .ethics p {
    color: #021d2c;
    font-size: 18px;
    line-height: 1.5;
    padding: 0 70px 20px 30px;
    font-family: 'Droid Serif', serif, Times; }
  .ethics ol {
    color: #021d2c;
    font-size: 18px;
    line-height: 1.5;
    list-style-type: decimal;
    list-style-position: inside;
    padding: 0 60px 20px 30px;
    font-family: 'Droid Serif', serif, Times; }
  .ethics .ethic-style {
    color: #021d2c;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.5;
    padding: 0 70px 20px 30px;
    font-family: 'Droid Serif', serif, Times; }

.tl-blurb {
  height: 100%;
  weight: 100%;
  padding: 50px 20px 100px 30px; }
  .tl-blurb p {
    color: #021d2c;
    font-size: 18px;
    line-height: 1.5;
    text-align: left;
    font-family: 'Droid Serif', serif, Times; }

.r-link {
  font-family: 'Lato', Arial, serif, Times;
  font-weight: bold;
  font-size: 16px;
  display: inline;
  letter-spacing: .2px;
  padding: 10px 25px 150px 25px; }

.box {
  padding-bottom: 80px;
  padding-top: 20px; }

.override {
  text-decoration: none;
  color: #4e1c07; }

.red-box {
  width: 219px;
  height: 54px;
  background-color: #eb503c;
  margin: 15px auto; }

.rb-link, .rb-link2 {
  width: 106px;
  height: 15px;
  font-family: 'Droid Serif', serif, sans-serif, Times;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  line-height: 3.2;
  padding: 2px 0 2px 60px;
  letter-spacing: 0.8px;
  text-align: center;
  color: #efe9d8; }

.rb-link2 {
  padding: 2px 0 2px 25px; }

.tan-box {
  width: 100%;
  height: 100%;
  background-color: #efe9d8; }
  .tan-box h2 {
    color: #4e1c07;
    font-size: 24px;
    text-align: left;
    line-height: 28px;
    font-weight: bold;
    font-style: 'Droid Serif', serif, sans-serif;
    padding: 60px 40px 20px 30px; }
  .tan-box p {
    color: #021d2c;
    padding: 0 40px 80px 30px;
    line-height: 1;
    font-size: 20px;
    font-style: 'Droid Serif', serif, sans-serif; }

.tan-box2 {
  width: 100%;
  height: 100%;
  background-color: #efe9d8; }
  .tan-box2 h2 {
    color: #4e1c07;
    font-size: 24px;
    text-align: left;
    font-weight: bold;
    line-height: 24px;
    font-style: 'Droid Serif', serif, sans-serif;
    padding: 50px 0 30px 30px; }
  .tan-box2 p {
    color: #021d2c;
    padding: 10px 60px 80px 30px;
    line-height: 1;
    text-align: left;
    font-size: 20px;
    font-style: 'Droid Serif', serif, sans-serif; }

/*# sourceMappingURL=style.css.map */
